<div class="about-me" id="about">
    <div class="left">
        <div class="image-container">
            <img src="images/santosh.png" alt="Santosh">
        </div>
    </div>
    <div class="right">
        <span>About Me</span>
        <h1>I'm Santosh Gayak,<br> A <span class="highlight">Web Developer</span>.</h1>
        <p>I enjoy turning ideas into real world web applications. I am passionate about writing clean code, learning new technologies and solving problems that make an impact.</p>
       <div class="stats-container">
         <div class="stats">
            <div class="icon-container">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="info">
                <span>Location</span>
                <p>Germany</p>
            </div>
        </div>
         <div class="stats">
            <div class="icon-container">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="info">
                <span>Education</span>
                <p>BSc CS</p>
            </div>
        </div>
       </div>
    </div>
</div>
