<div class="value-proposition">
    <div class="title">
        <p>What I can do?</p>
    </div>
   <h1>
         I turn ideas into <span class="highlight">functional digital products</span> through 
        <span class="highlight">efficient development</span> and thoughtful design.
    </h1>
    <div class="card-container">
        <div class="card">
            <i class="fa-solid fa-code"></i>
            <h3>Web Application Development </h3>
            <p>Building responsive and scalable web application from scratch</p>
        </div>
         <div class="card">
            <i class="fa-solid fa-database"></i>
            <h3>API Integration and Data Handling</h3>
            <p>Working with REST APIs, Databases, and real time data.</p>
        </div>
         <div class="card">
            <i class="fa-solid fa-mobile-screen"></i>
            <h3>Responsive and User friendly UI</h3>
            <p>Creating clean mobile friendly interfaces for better user experience.</p>
        </div>
         <div class="card">
            <i class="fa-solid fa-code"></i>
            <h3>Bug Fixing and Maintenance</h3>
            <p>Debugging issues and improving existing application</p>
        </div>
    
    </div>
 

</div>

