<div class="what-you-get">
    <div class="left">
        <div class="title">
            <p>What Client Gets?</p>
        </div>
        <h1>  Modern <span class="highlight">websites and applications</span> built to solve 
            <span class="highlight">real business problems.</span></h1>
    </div>
    <div class="right">
        <div class="row-card">
            <i class="fa-regular fa-circle-check"></i>
            <h3>Clean & Maintenable</h3>
            <p>Well structured, easy to read and maintainable code.</p>
        </div>
          <div class="row-card">
            <i class="fa-regular fa-clock"></i>
            <h3>Quality Fast Delivery </h3>
            <p>I respect deadlines and deliver on time.</p>
        </div>

          <div class="row-card">
            <i class="fa-brands fa-rocketchat"></i>
            <h3>Clear Communication</h3>
            <p>Regular updates and open communication.</p>
        </div>

          <div class="row-card">
            <i class="fa-solid fa-person-arrow-up-from-line"></i>
            <h3>Willing to Learn & Grow</h3>
            <p>Quick learner, open to feedback and always improving.</p>
        </div>
      

    </div>

</div>