<div class="work-process">
    <div class="left">
        <div class="title">
            <p>How I work?</p>
        </div>
        <h1>A Clear <span class="highlight">Process</span>. Real <span class="highlight">Results</span>.</h1>
    </div>
    <div class="right">
        <div class="row-card">
            <span>1</span>
            <h3>Understand</h3>
            <p>I listen, ask question and understand the requirement</p>
        </div>
        <div class="divider"><i class="fa-solid fa-angles-right"></i></div>
          <div class="row-card">
            <span>2</span>
            <h3>Plan</h3>
            <p>I break down the work and plan the best approach.</p>
        </div>
        <div class="divider"><i class="fa-solid fa-angles-right"></i></div>

          <div class="row-card">
            <span>3</span>
            <h3>Build</h3>
            <p>I write clean code and build with the solution step by step.</p>
        </div>
        <div class="divider"><i class="fa-solid fa-angles-right"></i></div>

          <div class="row-card">
            <span>4</span>
            <h3>Test & Improve</h3>
            <p>I test thoroughly and make it better with feedback.</p>
        </div>
      

    </div>

</div>