<div class="project" id="project">
     <div class="title">
        <p>Featured Projects</p>
    </div>
   <h1>
        Building <span class="highlight">digital products</span> with 
        <span class="highlight">modern technologies</span> and clean solutions.
    </h1>
   
    <ul class="project-list">
        <li class="list">
           <div class="media-container">
              <img src="/images/manish-admin-screen1.png" alt="" width="100%">
             <video autoPlay loop muted playsInline className="rounded-lg shadow-lg" width="800px">
                    <source src="/manish-admin.mov" type="video/mp4" />
            </video>

           </div>
          
            <div class="desc">
                <h2>Admin Dashboard for Manish Sarangi Education</h2>
                <span>Powered by</span>
                   <div class="stack">
                        <p><i class="fa-brands fa-angular"></i> Angular</p>
                        <p><i class="fa-solid fa-database"></i>Mongo DB</p>
                        <p><i class="fa-brands fa-node"></i>Node.js</p>
                        <p><i class="fa-solid fa-server"></i>Express.js</p>

                    </div>
                <p>A full-stack music academy platform where students can browse courses, enroll online, purchase instruments, and securely complete payments through an intuitive learning experience.</p>
                <div class="cta">
                     <a  class="btn-primary learnMore" href="https://github.com/santoshgayak/ManishEdu.git"  target="_blank"
                         rel="noopener noreferrer" >Github<i class="fa-brands fa-github"></i></a>
                    <a  class="btn-primary preview" href="https://manish-edu-admin1.vercel.app"  target="_blank"
                        rel="noopener noreferrer">Preview <i class="fa-solid fa-arrow-trend-up"></i></a>
                </div>
              


            </div>
           
        </li>
          <li class="list">
                 <div class="media-container">
                    <img src="/images/manish-edu1.png" alt="" width="100%">
                    <video autoPlay loop muted playsInline className="rounded-lg shadow-lg" width="800px">
                            <source src="/manish-edu-client.mov" type="video/mp4" />
                    </video>
                </div>
          
            <div class="desc">
                <h2>Manish EDU</h2>
                <span>Powered by</span>

                   <div class="stack">
                        <p><i class="fa-brands fa-angular"></i> Angular</p>
                        <p><i class="fa-solid fa-database"></i>Mongo DB</p>
                        <p><i class="fa-brands fa-node"></i>Node.js</p>
                        <p><i class="fa-solid fa-server"></i>Express.js</p>
                    </div>
                <p>A full-stack music academy platform where students can browse courses, enroll online, purchase instruments, and securely complete payments through an intuitive learning experience.</p>
                <div class="cta">
                    <a  class="btn-primary learnMore" href="https://github.com/santoshgayak/ManishEdu.git"  target="_blank"
                        rel="noopener noreferrer">Github<i class="fa-brands fa-github"></i></a>
                    <a  class="btn-primary preview" href="https://manish-edu-admin1.vercel.app"  target="_blank"
                        rel="noopener noreferrer">Preview <i class="fa-solid fa-arrow-trend-up"></i></a>
                </div>
            </div>
           
        </li>
       
    </ul>
</div>