<div class="skills">
      <div class="title">
        <p>My Skill Sets</p>
    </div>
    <h1>Building <span class="highlight">scalable, responsive, and high-performance</span> web applications with modern technologies.</h1>
    <div class="skill-list">

        <div class="skill-item">
            <i class="fa-brands fa-angular"></i>
            <span>Angular</span>
        </div>

        <div class="skill-item">
            <i class="fa-brands fa-react"></i>
            <span>React</span>
        </div>

        <div class="skill-item">
            <i class="fa-brands fa-node-js"></i>
            <span>Node.js</span>
        </div>

        <div class="skill-item">
            <i class="fa-brands fa-js"></i>
            <span>TypeScript</span>
        </div>

        <div class="skill-item">
            <i class="fa-brands fa-html5"></i>
            <span>HTML5</span>
        </div>

        <div class="skill-item">
            <i class="fa-brands fa-css3-alt"></i>
            <span>SCSS</span>
        </div>

        <div class="skill-item">
            <i class="fa-solid fa-database"></i>
            <span>MongoDB</span>
        </div>

        <div class="skill-item">
            <i class="fa-solid fa-server"></i>
            <span>Express.js</span>
        </div>

        <div class="skill-item">
            <i class="fa-solid fa-database"></i>
            <span>PostgreSQL</span>
        </div>

        <div class="skill-item">
            <i class="fa-brands fa-git-alt"></i>
            <span>Git</span>
        </div>

        <div class="skill-item">
            <i class="fa-solid fa-code"></i>
            <span>REST API</span>
        </div>

    </div>
</div>