<div class="hero flex-ctr-sb" id="hero">
    <div class="left">
        <span class="eyebrow"><i class="fa-solid fa-circle"></i>Open to Jr Web developer Roles - Germany</span>
        <h1>I build <span class="sp-highlight">clean, responsive web applications </span> that solve real problems.</h1>
        <p> Web Developer with hands-on experience building full-stack projects using Angular, Node.js, and modern web technologies.

            Eager to learn, contribute, and grow within a collaborative development team.</p>
        <div class="links-container ">
            <a href="#project">View Projects <i class="fa-solid fa-arrow-right"></i></a>
            <a href="#contact">Get in Touch <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="stats">
            <div class="col">
                <div class="icon">
                    <i class="fa-solid fa-layer-group"></i>
                </div>
                <h3>MEAN</h3>
                <P>Core Stack</P>
            </div>
            <span class="divider"></span>
             <div class="col">
                <div class="icon">                
                    <i class="fa-solid fa-cube"></i>
                </div>
                <h3>3</h3>
                <p>Apps layer shipped</p>
                
            </div>
            <span class="divider"></span>
             <div class="col">
                <div class="icon">
                    <i class="fa-solid fa-globe"></i>

                </div>
                <h3>DE</h3>
                <p>Full work Authorization</p>
                
            </div>
        </div>

    </div>
    <div class="right">
        <img src="/images/hero-image.png" alt="mypicture">
    </div>

</div>
