<div class="navbar flex-ctr-sb">
    <div class="logo">
        <h3>SG</h3>
        <i [ngClass]="showMenu ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'" (click)="toggle()"></i>    
    </div>
<ul class="flex-ctr-sb" [ngClass]="showMenu ? 'show' : 'hide'">
        <li><a href="/" class="color-white">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#project">Projects</a></li>


        <li><a routerLink="/resume">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
        <a class="btn-primary">Download Resume</a>

    </ul>
</div>