<div class="navbar flex-ctr-sb">
    <div class="logo">
        <a href="#home" class="color-white" (click)="closeMenu()">SG</a>
        <i [ngClass]="showMenu ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'" (click)="toggle()"></i>    
    </div>
<ul class="flex-ctr-sb" [ngClass]="showMenu ? 'show' : 'hide'">
    <li><a href="#home" class="color-white" (click)="closeMenu()">Home</a></li>
    <li><a href="#about" (click)="closeMenu()">About</a></li>
    <li><a href="#project" (click)="closeMenu()">Projects</a></li>
    <li>
        <a
            href="https://gayak-resume.s3.us-west-1.amazonaws.com/santosh_gayak_resume.pdf"
            target="_blank"
            rel="noopener noreferrer"
            (click)="closeMenu()">
            Resume
        </a>
    </li>    
    <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
</ul>
</div>